.env
.vscode/
node_modules/
dist/
coverage/
*.log
.DS_Store
data/

# Frontend tooling extras
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?